[submodule "PF-Frontend"]
	path = PF-Frontend
	url = https://github.com/martindglaser/PF-Frontend.git
[submodule "PF-Backend"]
	path = PF-Backend
	url = https://github.com/martindglaser/PF-Backend.git
[submodule "PF-API-IA"]
	path = PF-API-IA
	url = https://github.com/martindglaser/PF-API-IA.git
